/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #F5F7F7; 
  /* background-color: #dcf2eb; */
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}
.cards {
  padding: 4em 2em 4em 2em;
  margin-top: 4em;
  border: none;
  color: #18341a;
  background-color: #dcf2eb;
  /* background-color: #F5F7F7;  */
  border-radius: 20px;
}

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
